body
   {color:#3a3a3a;
   background-color: #e3e3e3;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0px
   }
h1
  {font-size: 40px}
h2
  {font-size: 20px}
a   {color: #3a3a3a }
h1, h2, h3, h4, h5
  {margin: 0px}

.main-content
  {background-color: #ffffff;
   margin: 0px auto;
  }

.header
  {color: #ffffff;
    padding: 20px;
    background-color: #89bdd3;
  }
.header h2
  {font-family: italic }

.navigation
  {background-color: #9ad3de;
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid #3a3a3a;
  }

.navigation a
  {font-weight: bold;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    }

.article
  {float: left;
    padding: 20px;
    width: 60%;
  }

.article-header
  {text-align: center;
    margin-bottom: 20px
  }

.article-footer
  {border-top: 1px solid #3a3a3a;
    text-align: center;
  }

.article-footer img
  {border: 3px solid #3a3a3a;
    border-radius: 50%;
    padding: 5px
  }

.side-bar
  {float: right;
    padding-top: 20px;
    width: 30%
  }

.side-bar-widget
  {border: 1px solid #3a3a3a;
    padding: 10px 10px;
    margin: 20px 20px
  }

.side-bar-widget li
  {
    margin-top: 5px;
    margin-bottom: 5px
  }

.clear{
    clear:both;
}
