* {
    box-sizing: border-box;
}
body, h1, h2, p{
    padding:0;
    margin:0;
}

.container{
    margin:10px auto;
    width:600px;
}

section{ 
    border:1px solid lightgrey;
    margin:20px;
    border-radius: 15px;
}

header{
    color:#fff;
    padding:10px;
    background:#4286f4
}

article{
    padding:10px;
}

