body {
    width: 960px;
    margin: 20px auto;
}

h1 {
    color: #777777;
    border-bottom: 1px solid #777777;
}

h2 {
    color: #aa0000;
    border-bottom: 1px dashed #aa0000;
}

.navigation-link {
    backgroud: #000000;
    color: #ffffff;
    display: block;
    float: left;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
}

hr {
    clear: both;
}

.image-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery-image {
    float: left;
    padding: 10px;
    margin: 10px;
}

.main-content {
    float: left;
    width: 70%;
}

.side-bar {
    background: #e7e7e7;
    float: right;
    width: 20%;
}

.content-footer {
    clear: both;
    border: 1px solid #000000;
}

.image-list2 {
    list-style: none;
    padding:0;
    margin:0;
}

.image-list2 li {
    float: left;
    padding: 10px;
    margin: 10px;
}
.image-list2 h4{
    text-align:center;
}
