.class2 nav,
.class7 li,
section>aside>section>h3 {
    text-align: center
}

.class7,
.class8 article,
footer {
    overflow: hidden
}

* {
    box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0
}

a {
    color: #a00;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.class1 {
    margin: 0 auto;
    width: 960px
}

.class2 {
    margin: 10px 0
}

.class2 .class3 {
    display: block;
    margin: 10px
}

.class2 nav {
    background: #a00;
    border-radius: 25px
}

.class2 nav a {
    color: #fff;
    display: inline-block;
    font-size: 24px;
    padding: 5px 15px
}

.class4 .class5 {
    padding: 10px;
    margin:0 auto;
    width: 66.66666%
}

.class4 .class5 img {
    max-width: 100%;
    height: auto
}

.class4 .class6 {
    float: right;
    padding: 10px;
    width: 33.33333%
}

section {
    clear: both;
    margin: 10px auto
}

section .section-header {
    color: #a00;
    border: 1px solid #a00;
    border-left: none;
    border-right: none;
    text-align: center
}

.class7 {
    list-style: none;
    margin: 0;
    padding: 10px
}

.class7 li {
    float: left;
    width: 20%
}

section .class8 {
    float: left;
    margin-top: 10px;
    width: 66.66666%;
    padding-right: 20px
}

.class8 article {
    border-bottom: 1px solid #a00
}

.class8 article img {
    float: left;
    max-width: 50%;
    padding: 10px
}

section>aside {
    width: 33.333333%;
    float: right
}

.sponsors>.sponsor-ads>img {
    width: 50%;
    float: left;
    padding: 10px
}

footer {
    clear: both;
    padding: 20px 0
}

footer>h3 {
    float: left;
    margin: 0
}

footer>nav {
    float: right
}

footer>nav>a {
    padding: 0 10px
}