
body{
    margin:20px auto;
    width:960px;
}

 h1 {
        color:#DC143C ; 
          }
 h2 { font-weight: bold;
 }
.main-point{font-family: Courier New, Courier, monospace;}
 span {text-decoration: underline;}
 
 





