html{
}


body{
    margin:20px auto;
    width:960px;
}
h1{color:red}
h2,h4{color: #FFA500; border: thin solid #A0A0A4;}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
